{% load i18n %}
{% load static %}
<html>
   <head>
        <title>PAJ_SM Enquête</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
        <link rel="stylesheet" href="{% static 'etude/sondageM.css' %}">
        <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
        <link rel="stylesheet" href="{% static 'etude/theme-enquete.css' %}">
</head>
<body>
<div class="w3-container">
    <header class="w3-row w3-theme-d3"  id="myHeader">
        <div class="w3-center">
        <h4>Étude sur les Programmes d’accompagnement en justice et santé mentale du Québec</h4>
        </div>
    </header>
  <div class="w3-container w3-sand">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
        {% endfor %}
    {% endif %}
      <a href="{% url 'logout' %}" class="w3-button w3-theme-action"> Logout</a>
      <h4>Bilan Enquête auprès des intervenants PAJ_SM</h4>
       <table class="w3-table-all">
        <tr>
       <th>Origine</th><th>Inscrits</th><th>Consentent</th><th>Refusent</th><th>Ordre des</th><th>Complets</th>
            <th>Avocat</th><th colspan="6">Sections du questionnaire terminées</th></tr>
        <tr><th></th><th></th><th></th><th></th><th>questionnaires 1/2</th><th></th>
            <th></th><th>P-I</th><th>P-II</th><th>P-III</th><th>P-IV</th><th>P-V</th><th>P-VI</th>
        </tr>
        {% for ligne in complets %}
        <tr>
        <td>{{ligne.0}}</td><td>{{ligne.4}}</td><td>{{ligne.2}}</td><td>{{ligne.5}}</td><td>{{ligne.6}} / {{ligne.7}}</td><td>{{ligne.1}}</td>
            <td>{{ligne.3}}</td>
            <td>{{ligne.8}}</td><td>{{ligne.9}}</td><td>{{ligne.10}}</td><td>{{ligne.11}}</td><td>{{ligne.12}}</td><td>{{ligne.13}}</td>
        </tr>
        {% endfor %}
        </table>
<h3>To export data</h3>
    <form method="post" action="">
       {% csrf_token %}
           <table class="w3-table-all">
                <tr><td>Questionnaire</td>
                    <td><select name="questionnaireid" >
                    <option value="">Choose the questionnaire to export</option>
                    {% for questionnaire in questionnaires %}
                        {% if questionnaire.id > 100 and questionnaire.id < 10000 %}
                            <option value="{{questionnaire.id}}">{{ questionnaire.nom_en}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    </td>
                </tr>
           <tr><td>Extraire tous les dossiers? (complets ou non)</td><td><input type="checkbox" id="tous" name="tous" value="1"><label for="tous"> Oui tous</label></td></tr>
           <tr><td></td><td><button type="submit" class="placeboutons" name="Exporterdata">Export data only</button></td></tr>
           <tr><td></td><td><button type="submit" class="placeboutons" name="fait_entete_pajinter_R">Export R syntax</button></td></tr>
         </table>
   </form>
</div>
</div>
</body>
</html>