{% extends 'enquete_base.html' %}
{% load i18n %}
{% load static %}

{% block content_fr %}
        <a href="{% url 'logout' %}" class="w3-button w3-theme-action"> Logout</a>
        <h4>Bilan Enquête auprès des intervenants PAJ_SM</h4>
       <table class="w3-table-all">
        <tr>
        <th>CISSS / CIUSSS / Autre</th><th>Inscrits</th><th>Consentent</th><th>Refusent</th><th>Ordre questionnaires 1/2</th><th>Complets</th>
            <th>Avocat</th>
        </tr>
        {% for ligne in complets %}
        <tr>
        <td>{{ligne.0}}</td><td>{{ligne.4}}</td><td>{{ligne.2}}</td><td>{{ligne.5}}</td><td>{{ligne.6}} / {{ligne.7}}</td><td>{{ligne.1}}</td>
            <td>{{ligne.3}}</td></td>
        </tr>
        {% endfor %}
        </table>
<h3>To export data</h3>
            <form method="post" action="">
               {% csrf_token %}
                   <table>
                    <tr><td></td><td></td></tr>
                        <tr><td>Questionnaire</td><td><select name="questionnaireid" >
                        <option value="">Choose the questionnaire to export</option>
                        {% for questionnaire in questionnaires %}
                            {% if questionnaire.id > 100 and questionnaire.id < 10000 %}
                                <option value="{{questionnaire.id}}">{{ questionnaire.nom_en}}</option>
                            {% endif %}
                        {% endfor %}
                   <tr><td>Extraire tous les dossiers? (complets ou non)</td><td><input type="checkbox" id="tous" name="tous" value="1"><label for="tous"> Oui tous</label></td></tr>
                   <tr><td></td><td><button type="submit" class="placeboutons" name="Exporterdata">Export data only</button></td></tr>
                   <tr><td></td><td><button type="submit" class="placeboutons" name="fait_entete_pajinter_R">Export R syntax</button></td></tr>
                 </table>
           </form>
{% endblock content_fr %}