{% load i18n %}
{% load static %}
<html>
   <head>
        <title>PAJ_SM Enquête</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
        <link rel="stylesheet" href="{% static 'etude/sondageM.css' %}">
        <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
        <link rel="stylesheet" href="{% static 'etude/theme-enquete.css' %}">
</head>
<body>
<div class="w3-container">
    <header class="w3-row w3-theme-d3"  id="myHeader">
        <div class="w3-center">
        <h4>Étude sur les Programmes d’accompagnement en justice et santé mentale du Québec</h4>
        </div>
    </header>
  <div class="w3-container w3-sand">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
        {% endfor %}
    {% endif %}
      <a href="{% url 'logout' %}" class="w3-button w3-theme-action"> Logout</a>
      <h4>Bilan Étude PAJ_SM</h4>
        <table>
        <tr>
        <td>Nom du PAJ-SM</td><td>Nombre de dossiers terminés</td>
        </tr>
            {% for dossier in dossiers %}
        <tr>
        <td>{{dossier.reponse_en}}</td><td>{{dossier.num_dossiers}}</td>
        </tr>
        {% endfor %}
        </table>
<h3>Pour exporter les données de la saisie dans les dossiers</h3>
    <form method="post" action="">
       {% csrf_token %}
           <table class="w3-table-all">
                <tr><td>Questionnaire</td>
                    <td><select name="questionnaireid" >
                    <option value="">Choisir le questionnaire à exporter</option>
                    {% for questionnaire in questionnaires %}
                        {% if questionnaire.id < 100 and questionnaire.id > 1 %}
                            <option value="{{questionnaire.id}}">{{ questionnaire.nom_en}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    </td>
                </tr>
               <tr><td>PAJ-SM</td>
                    <td><select name="pajsmid" >
                    <option value="">Sélectionner le PAJ-SM</option>
                    {% for paj in pajs %}
                        {% if paj.id < 100 %}
                            <option value="{{paj.id}}">{{ paj.reponse_fr}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    </td>
                </tr>
           <tr><td>Extraire tous les dossiers? (complets ou non)</td><td><input type="checkbox" id="tous" name="tous" value="1"><label for="tous"> Oui tous</label></td></tr>
           <tr><td></td><td><button type="submit" class="placeboutons" name="ExporterS">Export data only</button></td></tr>
           <tr><td></td><td><button type="submit" class="placeboutons" name="fait_entete_pajinter_R">Export R syntax</button></td></tr>
           <tr><td></td><td><button type="submit" class="placeboutons" name="fait_entete_SPSS">Export SPSS syntax</button></td></tr>
        </table>
   </form>
      <h4>Extraction des grilles de codification</h4>
      <ul>
          <li><a href="{% url 'questions_pdf' 5 %}"> Socio Démo statique</a></li>
          <li><a href="{% url 'questions_pdf' 2 %}"> Niveau accusation</a></li>
          <li><a href="{% url 'questions_pdf' 10 %}"> Audiences</a></li>
          <li><a href="{% url 'questions_pdf' 11 %}"> Délits</a></li>
      </ul>
</div>
</div>
</body>
</html>