{% extends 'dossier_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<h2>New file creation: 
Création d'un nouveau dossier</h2>
{% csrf_token %}

<table><tr><td></td><td></td><td></td></tr>
{% for question in questions %}
 <tr class="{% cycle 'Q1' 'Q2' %}">
 {% include "create_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id varname=question.varname user=user.id %}
 {% include "aide_snippet.html" with aide=question.aideen %}
 </tr>
    {% endfor %}

</table>

{% endblock content %}

