{% load i18n %}
{% load static %}
<html>
   <head>
        <title>PAJ_SM Audiences</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
        <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
        <script type="text/javascript" src="/static/etude/jquery.js"></script>
        <script type="text/javascript" src="/static/etude/tabber.js"></script>
        <link rel="stylesheet" href="{% static 'etude/sondageM.css' %}">


<script type="text/javascript">
$(document).keypress(
  function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
});
</script>


<script type="text/javascript" >
$(function() {
	$("input[@id^=row-]").click(function(){
		var reg = new RegExp("X", "");
		res = this.id.split(reg);
		var cond=res[3];
		var valeurcible=res[2];
		var relation=res[1];
		var enfant=res[0];
		var valeurcible2;
		var courant=$(this).val();

		if(valeurcible=="vide"){
			valeurcible2="";
		}else{
			valeurcible2= valeurcible;
			valeurcible=parseInt(valeurcible, 10);
			courant=parseInt(courant, 10);
			valeurcible2=parseInt(valeurcible2, 10);
			}
		if (relation=='eq'){
			if(courant == valeurcible2) {
					$('.child-'+enfant+relation+valeurcible).show();
			}else{
					$('.child-'+enfant+relation+valeurcible).hide();
			}
		}else if(relation=='inf'){
			if(courant < valeurcible2) {
					$('.child-'+enfant+relation+valeurcible).show();
			}else{
					$('.child-'+enfant+relation+valeurcible).hide();
			}
		}else if(relation=='sup'){
			if(courant > valeurcible2) {
					$('.child-'+enfant+relation+valeurcible).show();
			}else{
					$('.child-'+enfant+relation+valeurcible).hide();
			}
		}else if(relation == 'diff'){
			if(courant != valeurcible2) {
					$('.child-'+enfant+relation+valeurcible).show();
			}else{
					 $('.child-'+enfant+relation+valeurcible).hide();
			}
		}
	});
});
</script>

<script type="text/javascript" >
$(function() {
$("select[@id^=row-]").click(function(){

	var reg = new RegExp("X", "");
	res = this.id.split(reg);
	var valeurcible=res[2];
	var relation=res[1];
	var enfant=res[0];
	var courant=$(this).val();

	if(valeurcible=="vide"){
			valeurcibl2="";
	}
valeurcible=parseInt(valeurcible, 10);
courant=parseInt(courant, 10);

	if (relation=='eq'){
		if(courant == valeurcible) {
			$('.child-'+enfant+relation+valeurcible).show();
		}else{
			$('.child-'+enfant+relation+valeurcible).hide();
		}
		}else if(relation =='inf'){
			if(courant < valeurcible) {
					$('.child-'+enfant+relation+valeurcible).show();
			}else{
					$('.child-'+enfant+relation+valeurcible).hide();
			}
		}else if(relation == 'sup'){
			if(courant > valeurcible) {
					$('.child-'+enfant+relation+valeurcible).show();
			}else{
					$('.child-'+enfant+relation+valeurcible).hide();
			}
		}else{
			if(courant != valeurcible){
				$('.child-'+enfant+relation+valeurcible).show();
			}else{
				$('.child-'+enfant+relation+valeurcible).hide();
			}
		}
	});
});
</script>

<script language="JavaScript" type="text/javascript">
    function sayHello()
        {
            alert("Click on the SAVE button.Don t forget to save your work. Clicking on OK will not save anything");
        }

    function timeGreeting()
        {
            //assign the timer to a variable:
            //you need to do this so the timer can be
            //referenced by another function when you want
            //to stop it:
            var greeting = setInterval(sayHello, 900000);
            //Notice how the time is set in milliseconds.
        }
    timeGreeting();
</script>

<script>
$(function() {
    $("[@id^=target]").click(function(){
        var reg = new RegExp("_");
		res = this.id.split(reg);
		var card=res[1];
        return confirm( 'Are you sure you want to remove the card number ' + card +'?');
    });
});

</script>
</head>
    <body>
    <form action="" method="post">
        <div id="container">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                    {{msg.message}}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}

            {% endblock %}
        </div>
    </form>
    </div>
<div class="w3-container w3-theme-d5 footerw3">

{% block pagination %}

{% endblock %}

</div>
</body>
</html>

