{% load i18n %}
{% load static %}
<html>
   <head>
        <title>PAJ_SM Enquête</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
        <link rel="stylesheet" href="{% static 'etude/sondageM.css' %}">
       <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
        <link rel="stylesheet" href="{% static 'etude/theme-enquete.css' %}">
        <script type="text/javascript" src="/static/etude/jquery351.js"></script>
        <script type="text/javascript" src="/static/etude/montreoupas.js"></script>
</head>
<body>
<div class="w3-content">
    <header class="w3-row w3-theme-d3"  id="myHeader">
    <div class="w3-threequarter w3-center">
    <h4>Étude sur les Programmes d’accompagnement en justice et santé mentale du Québec</h4>
    </div>
    <div class="w3-quarter w3-right-align">

    </div>
</header>

  <div class="w3-container w3-sand">
    <form action="" method="post">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
        {% endfor %}
    {% endif %}

  {% block content_fr %}
  {% endblock content_fr %}

</form>
</div>
</div>
    <script>
        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab
    </script>
</body>
</html>

