{% load i18n %}
{% load static %}
<html>
<title>Les PAJ-SM</title>
<meta charset="UTF-8">
<meta name="description" content="PAJ-SM">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
    <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
   <body class="w3-theme-l5">

<div class="principal w3-theme-l5">

<!-- Header -->
<!-- <header class="w3-container w3-theme" id="myHeader"> -->
<header class="w3-row w3-theme-d3" id="myHeader">
    <div class="w3-quarter">
    </div>
    <div class="w3-half w3-center">
        <h4>Étude sur les Programmes d’accompagnement en justice et santé mentale du Québec</h4>
        <h5>Étude financée par le Ministère de la Justice du Québec</h5>
    </div>
</header>
 <div class="principal">
 {% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
{% endif %}
    <h2>Enquête sur les perception des programmes de déjudiciarisation</h2>
     <p>Notre équipe de recherche procède à une étude sur les programmes d’accompagnement en justice et santé mentale (PAJ-SM).
        Le projet vise dans l’ensemble à mieux comprendre le fonctionnement de ces programmes et leurs différences d’un endroit à l’autre,
        quelles sont les personnes qui y ont accès, quelle est l’expérience des personnes qui y prennent part et quels sont les effets
        de la participation aux programmes pour les participants, leur entourage et la collectivité.
    <br/>Le sondage en ligne s'adresse aux intervenants et professionnels du système de santé et des services sociaux,
        du système de justice et du réseau des organismes communautaires de la province œuvrant auprès de clientèles présentant des problématiques
        de santé mentale et de judiciarisation.<br/>
    Il porte sur vos connaissances, votre expérience et vos perceptions du travail d’intervention
        et d’accompagnement auprès de personnes judiciarisées et ayant des problèmes de santé mentale.<br/>
        Ce questionnaire devrait prendre de 10 et 30 minutes à compléter.
    </p>
    <p>Pour participer (ou signaler votre refus de participer) veuillez inscrire votre adresse de courriel ici, vous y recevrez un courriel avec un
        lien personnalisé vous permettant de remplir le questionnaire après avoir lu le formulaire de consentement</p>

<form input method="post" action="">
  {% csrf_token %}
    <p>Adresse de votre courriel professionnel <input  name="courriel" type="email" value= "{{courriel}}" size="50">
    <button type="submit" class="w3-button w3-theme-d5" name="Creer">S'inscrire</button></p>
</form>
</div>
<footer class="w3-container w3-theme-d5 footerw3">
<h4>Fureteurs supportés : Chrome Firefox Safari
<img src="/static/images/chrome-logo.svg" width="32" height="32">
<img src="/static/images/Fx-Browser-icon-fullColor-48.png" width="32" height="32">
<img src="/static/images/SafariBlogo.svg" width="32" height="32"></h4>
    <h5>Pour toute question à propos de ce questionnaire contacter
        <a class="w3-text-white" href="mailto:genevieve.nault.pinel@ssss.gouv.qc.ca?subject=Enquete pajsm question">
    <u>la coordonnatrice de l'enquête</u></a></h5>
</footer>
</body>
</html>

