<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Étude sur les Programmes d’accompagnement en justice et santé mentale du Québec</title>
  </head>
  <body>
  <h2>Étude sur les Programmes d’accompagnement en justice et santé mentale du Québec</h2>
  <h3>Étude financée par le Ministère de la Justice du Québec</h3>

  <p>Voici le lien qui vous permettra d'accéder au questionnaire de l'étude sur les Programmes d’accompagnement en justice
  et santé mentale : <b><a href="{{lien}}">{{lien}}</a></b></p>
  <p>Si vous n'avez pas le temps de compléter le questionnaire en une séance, vous pourrez retournez où vous étiez en cliquant sur ce même lien.</p>
  <p>Si vous désirez imprimer le formulaire de consentement cliquez ici : <b><a href="{{lienpdf}}">{{lienpdf}}</a></b>/p>

  <p>Pour toute information sur cette étude et le questionnaire veuillez contacter la coordonnatrice du projet :
  <b>Geneviève Nault (genevieve.nault.pinel@ssss.gouv.qc.ca)</b></p>

  <p><em>Ne répondez pas à ce courriel, il s'agit d'un envoi automatisé.</em></p>
  </body>
</html>