{% load i18n %}
{% load static %}

<html>
    <head>
        <title>PAJ-SM Data exportation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
        <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'etude/sondageM.css' %}">
    </head>
<body class="w3-theme-l4">
questionnaire={{ questionnaire}}, tous={{ tous}}, paj={{paj}}
{% for iteration in iterations %}
    <h3>Link to the extraction of data ({{ seuil }} users/file):
        <a href="{% url 'ffait_csv_pajsaisie' paj.id questionnaire iteration seuil tous %}">
        {{ paj.reponse_fr }} {{ questionnaire_nom }} :#{{ page|add:"1" }}</a></h3>
{% endfor %}
</body>
</html>

