{% load i18n %}
{% load static %}

<html>
    <head>
        <title>NTP2 Data exportation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
        <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'etude/sondageM.css' %}">

    </head>
<body class="w3-theme-l4">
{% for page in iterations %}
    <h3>Link to the extraction of data ({{ seuil }} users/file):
        <a href="{% url 'do_csv' questionnaire page seuil tous %}">
        {{ province_nom }} {{ questionnaire_nom }} :#{{ page|add:"1" }}</a></h3>
{% endfor %}
</body>
</html>

