{% load i18n %}
{% load static %}

<html>
    <head>
        <title>PAJ_SM Messages</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
        <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
        <link rel="stylesheet" href="{% static 'etude/sondageM.css' %}">
    </head>
<body class="w3-theme-l5">
<header class="w3-row w3-theme-d3" id="myHeader">
    <h4>Étude sur les Programmes d’accompagnement en justice et santé mentale du Québec</h4>
</header>
<div class="principal">
<br/><br/>
{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        <h5>{{msg.message}}</h5>
        </div>
        {% if msg.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <h5><button class="w3-button w3-theme-d5" style="width: 150px;"onclick="history.back()"><< Vérifier</button>
            </h5>
        {% endif %}
    {% endfor %}
{% endif %}

</div>
<footer class="w3-container w3-theme-d5 footerw3">
    <h5>Pour toute question à propos de cette recherche et de cette enquête contacter :<a class="w3-text-white" href="mailto:genevieve.nault.pinel@ssss.gouv.qc.ca?subject=Enquete pajsm question">
    <u>la coordonnatrice de l'enquête</u></a></h5>
</footer>
</body>
</html>

