{% load i18n %}
{% load static %}

<html>
    <head>
        <title>PAJ_SM Dossier</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'etude/w3.css' %}">
        <link rel="stylesheet" href="{% static 'etude/w3-theme-maison.css' %}">
        <link rel="stylesheet" href="{% static 'etude/sondageM.css' %}">
    </head>
<body class="w3-theme-l5">
<header class="w3-row w3-theme-d3" id="myHeader">
    <h4>Accusé de réception pour participation à l'enquête sur les perception des programmes de déjudiciarisation</h4>
</header>
<div class="principal">
{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
{% endif %}
<p>Merci pour votre participation</p>

</div>
<footer class="w3-container w3-theme-d5 footerw3">
    <h5><a class="w3-text-white" href="mailto:malijai.caulet.ippm@ssss.gouv.qc.ca?subject=pajsm troubles">
        Pour toute question à propos du fonctionnement de ce questionnaire contacter</a></h5>
</footer>
</body>
</html>

