{% extends 'enquete_base.html' %}
{% load i18n %}
{% load static %}
{% load formulairespajsm %}

<h2> {{ intervenant.courriel }} - {{ questionnaire }} </h2>

{% block content_fr %}
{% csrf_token %}
   <input name="iid" type="hidden" value="{{ intervenant.id }}" />
   <input name="qid" type="hidden" value="{{ qid }}" />
{% for num in range %}
<div class="tab ">
    <br />
     <div class="w3-theme-light w3-large">
  <div class="w3-container w3-theme-d1" style="width:{{nbfait|floatformat:0}}%">{{nbfait|floatformat:0}} %
  </div>
</div><br />
{% if num == 1  and questionnaire.consignefr != "" %}
<h4>Consignes</h4>{{ questionnaire.consignefr}}

{% endif %}
    {% if  num == 1 and qid == 104 %}
    <h4><u>Lisez attentivement la vignette suivante</u> :
     {{vignette1.description_txt_fr}}</h4>
    {% elif   num == 5 and qid == 104 %}
    <h4><u>Lisez attentivement la vignette suivante</u> :
    {{vignette2.description_txt_fr}}</h4>
    {% endif %}
    <table class="w3-table-all">
    {% for question in questions %}
        {% if question.section == num %}
            {% if question.typequestion.nom == 'COMMENT' and question.id not in ascendancesF %}
                <tr><td style="text-align: center;"><h4>{{ question.questionfr }}</h4>{{ question.aidefr|default:"" }}</td></tr>
            {% else %}
                {% if question.id not in ascendancesF and question.id not in ascendancesM %}
                    <tr>
                        {% include "enquete_snippet.html" with typequest=question.typequestion textequest=question.questionfr questid=question.id varname=question.varname aide=question.aidefr langue=LANGUAGE_CODE %}
                    </tr>
                {% elif question.id in ascendancesF and question.id in ascendancesM %}
                         {% for enfant in question.questionpajsm_set.all %}
                            {% if forloop.counter == 1 %}
                                <tr style="display: none;" class="child-row-{{question.parent_id}}{{question.relation}}{{question.cible}}">
                                    {% include "enquete_snippet.html" with typequest=question.typequestion textequest=question.questionfr questid=question.id relation=enfant.relation cible=enfant.cible classe="fillemere" varname=question.varname  aide=question.aidefr langue=LANGUAGE_CODE %}
                                </tr>
                            {% endif %}
                         {% endfor %}
                {% elif question.id in ascendancesM and question.id not in ascendancesF %}
                    <tr class="mere">
                        {% for enfant in question.questionpajsm_set.all %}
                            {% if forloop.counter == 1 %}
                                {% include "enquete_snippet.html" with typequest=question.typequestion textequest=question.questionfr questid=question.id relation=enfant.relation cible=enfant.cible classe="mere" varname=question.varname  aide=question.aidefr langue=LANGUAGE_CODE %}
                    </tr>
                            {% endif %}
                         {% endfor %}
                {% endif %}
                {% for enfant in question.questionpajsm_set.all %}
                    {% if enfant.id not in ascendancesM %}
                         <tr style="display: none;" class="child-row-{{enfant.parent_id}}{{enfant.relation}}{{enfant.cible}}">
                             {% include "enquete_snippet.html" with typequest=enfant.typequestion textequest=enfant.questionfr questid=enfant.id classe="fille" varname=enfant.varname  aide=enfant.aidefr langue=LANGUAGE_CODE %}
                         </tr>
                     {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</table>
 {% if num == range|length %}
        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Précédent</button>
                <button type="submit" name="suite" id="nextBtn" onclick="nextPrev(1)">Enregistrer et Section suivante</button>
            </div>
        </div>
    {% else %}
      <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Précédent</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Suivant</button>
            </div>
      </div>
 {% endif %}
</div>
{% endfor %}

<div style="text-align:center;margin-top:40px;">
{% for num in range %}
  <span class="step"></span>
{% endfor %}
</div>
{% endblock content_fr %}


{% block content_en %}
{% csrf_token %}
   <input name="iid" type="hidden" value="{{ intervenant.id }}" />
   <input name="qid" type="hidden" value="{{ qid }}" />
<h2> ANGLAIS </h2>
{% for num in range %}
<div class="tab ">
{% if num == 1 %}
<h4>Consignes</h4>{{ questionnaire.consigneen }}
{% endif %}
    <table class="w3-table-all">
    {% for question in questions %}
        {% if question.section == num %}
            {% if question.typequestion.nom == 'COMMENT' and question.id not in ascendancesF %}
                <tr><td style="text-align: center;"><h4>{{ question.questionen }}</h4>{{ question.aideen|default:"" }}</td></tr>
            {% else %}
                {% if question.id not in ascendancesF and question.id not in ascendancesM %}
                    <tr>
                        {% include "enquete_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id varname=question.varname aide=question.aideen langue=LANGUAGE_CODE %}
                    </tr>
                {% elif question.id in ascendancesF and question.id in ascendancesM %}
                         {% for enfant in question.questionpajsm_set.all %}
                            {% if forloop.counter == 1 %}
                                <tr style="display: none;" class="child-row-{{question.parent_id}}{{question.relation}}{{question.cible}}">
                                    {% include "enquete_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id relation=enfant.relation cible=enfant.cible classe="fillemere" varname=question.varname  aide=question.aideen langue=LANGUAGE_CODE %}
                                </tr>
                            {% endif %}
                         {% endfor %}
                {% elif question.id in ascendancesM and question.id not in ascendancesF %}
                    <tr class="mere">
                        {% for enfant in question.questionpajsm_set.all %}
                            {% if forloop.counter == 1 %}
                                {% include "enquete_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id relation=enfant.relation cible=enfant.cible classe="mere" varname=question.varname  aide=question.aideen langue=LANGUAGE_CODE %}
                    </tr>
                            {% endif %}
                         {% endfor %}
                {% endif %}
                {% for enfant in question.questionpajsm_set.all %}
                    {% if enfant.id not in ascendancesM %}
                         <tr style="display: none;" class="child-row-{{enfant.parent_id}}{{enfant.relation}}{{enfant.cible}}">
                             {% include "enquete_snippet.html" with typequest=enfant.typequestion textequest=enfant.questionen questid=enfant.id classe="fille" varname=enfant.varname  aide=enfant.aideen langue=LANGUAGE_CODE %}
                         </tr>
                     {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</table>
        {% if num == range|length %}
        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Précédent</button>
                <button type="submit" name="suite" id="nextBtn" onclick="nextPrev(1)">Enregistrer et Section suivante</button>
            </div>
        </div>
    {% else %}
      <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Précédent</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Suivant</button>
            </div>
      </div>
{% endif %}
</div>

{% endfor %}
<div style="text-align:center;margin-top:40px;">
{% for num in range %}
  <span class="step"></span>
{% endfor %}
</div>
{% endblock content_en %}