{% extends 'Rech_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="w3-theme-l2" style="padding:10px;">
        <h3>Le projet d'évaluation des PAJ-SM du Québec</h3>
        <p>
        Bla bla bla
        </p>
    </div>
<div class="w3-theme-l32" style="padding:10px;">
    <h3>Sondage</h3>
    <p class="espace"><a href="{% url 'inscription_intervenant' %}">Pour accéder au Questionnaire sur les Programmes d’accompagnement en justice et santé mentale (rôles, connaissances, intérets)</a>
    </p>
    </div>
{% endblock content %}




